<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.hyrt.carserver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".base.application.CarServerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".base.activity.MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".base.activity.WebActivity" />
        <activity android:name=".base.activity.STabActivity" />
        <activity
            android:name=".info.activity.ChangeInfoActivity"
            android:label="@string/info_change_label" />
        <activity
            android:name=".base.activity.StarActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".info.activity.LoginActivity"
            android:label="@string/info_login_label" />
        <activity
            android:name=".info.activity.AlterCarActivity"
            android:label="@string/info_add_car" />
        <activity
            android:name=".info.activity.MyCarActivity"
            android:label="@string/info_my_car" />
        <activity
            android:name=".question.activity.QuestionActivity"
            android:label="@string/question_title" />
        <activity
            android:name=".question.activity.CosmetologyActivity"
            android:label="@string/question_cosmetology" />
        <activity
            android:name=".question.activity.PositionActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".question.activity.UpphotoActivity"
            android:theme="@style/Transparent" />
        <activity 
            android:name=".question.activity.MaintainActivity"
            android:label="@string/classify_wxby"/>
        <activity 
            android:name=".question.activity.InsuranceActivity"
            android:label="@string/question_insurance"/>
        <activity 
            android:name=".question.activity.CommitActivity"
            android:label="@string/question_commit"/>
        <activity 
            android:name=".question.activity.CorrelationAcitivity"
            android:label="@string/question_correlation"/>
        <activity
            android:name=".info.activity.QuestionActivity"
            android:label="@string/info_new_question" />
        <activity
            android:name=".info.activity.QuestionDetailActivity"
            android:label="@string/info_question_detial" />
        <activity
            android:name=".info.activity.CarDetailActivity"
            android:label="@string/info_car_detial" />
        <activity
            android:name=".info.activity.InfoDetailActivity"
            android:label="@string/info_detail" />
		<activity 
		    android:name=".info.activity.CarConditionActivity"
		    android:label="@string/info_condition_detail"/>

		<activity 
		    android:name=".info.activity.CarConditionDetailActivity"/>
		
		<activity 
             android:name=".emergency.activity.InsuranceClaimActivity"
             android:label="@string/emergency_bxlp"/>

    </application>

</manifest>